---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-wrap justify-center gap-8 m-auto p-8 w-full max-w-full text-white text-xl leading-relaxed">
		<Card title='Title' description='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in purus finibus, iaculis sem a, aliquam nisl. Vivamus non turpis nisl. Phasellus nec fringilla ante.' image='https://placehold.co/600x400' tags={['Tag 1', 'Tag 2']}></Card>

		<Card title='Title' description='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in purus finibus, iaculis sem a, aliquam nisl. Vivamus non turpis nisl. Phasellus nec fringilla ante.' image='https://placehold.co/600x400' tags={['Tag 1', 'Tag 2']}></Card>

		<Card title='Title' description='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in purus finibus, iaculis sem a, aliquam nisl. Vivamus non turpis nisl. Phasellus nec fringilla ante.' image='https://placehold.co/600x400' tags={['Tag 1', 'Tag 2']}></Card>

		<Card title='Title' description='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in purus finibus, iaculis sem a, aliquam nisl. Vivamus non turpis nisl. Phasellus nec fringilla ante.' image='https://placehold.co/600x400' tags={['Tag 1', 'Tag 2']}></Card>

		<Card title='Title' description='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in purus finibus, iaculis sem a, aliquam nisl. Vivamus non turpis nisl. Phasellus nec fringilla ante.' image='https://placehold.co/600x400' tags={['Tag 1', 'Tag 2']}></Card>

		<Card title='Title' description='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in purus finibus, iaculis sem a, aliquam nisl. Vivamus non turpis nisl. Phasellus nec fringilla ante.' image='https://placehold.co/600x400' tags={['Tag 1', 'Tag 2']}></Card>
	</main>
</Layout>
